.toptab{

  .back_btn{
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    background-image: url(/images/tab_back_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0;
    position: absolute;
    margin: 13px 15px 0px;
  }

  .nav{
    height: 44px;
    background-color: #008ab8;
    text-align: center;
    display: block;
    margin-bottom: 20px;

    .nav-item{
      display: inline-block;
      .nav-link{
        position: relative;
        font-size: 12px;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: "Roboto";
        font-weight: 900;
        text-align: center;
        padding: 13px 0 0px;
        margin: 0 15px;
        &.active{
          border-bottom: 2px solid #fff;
        }
        .notify{
          display: block;
          width: 11px;
          height: 11px;
          text-align: center;
          background-color: #d10000;
          border-radius: 4px;
          position: absolute;
          font-size: 8px;
          color: #ffffff;
          font-weight: 900;
          top: 12px;
          right: -15px;
        }
      }
    }
  }

}
