.slider_main{
  padding: 0 10px;

  .slide_card{
    max-width: 500px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    overflow: hidden;
    border-radius: 0;
    margin: auto;

    .img_hold{
      padding: 0;
      img{
        min-height: 100px;
        border-radius: 0;
      }
    }

    .card-body{
      padding: 0;
      .card-title{
        font-size: 14px;
        color: #008ab8;
        font-family: "Roboto";
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .card-subtitle{
        font-size: 10px;
        color: #000000;
        font-family: "Roboto";
        font-weight: 700;
        margin-bottom: 5px;
      }
      .card-text{
        font-size: 10px;
        letter-spacing: 0px;
        color: #000000;
        font-family: "Roboto";
        font-weight: 400;
        margin-bottom: 0;
      }
      .price_tag{
        clear: both;
        margin-top: 5px;
        span{
          font-size: 10px;
          letter-spacing: 0px;
          color: #888888;
          font-family: "Roboto";
          font-weight: 700;
          float: left;
        }
        h3{
          font-size: 14px;
          letter-spacing: 0px;
          color: #d16800;
          font-family: "Roboto";
          font-weight: 700;
          text-align: right;
          float: right;
          margin-right: 5px;
        }
      }

    }
  }

  .slider_dots{
    display: block;
    padding: 0;
    margin: 10px 0;
    text-align: center;

    li{
      list-style: none;
      display: inline-block;
      width: 8px;
      height: 8px;
      content: "";
      background-color: #ddd;
      border-radius: 50%;
      margin: 0 3px;
      cursor: pointer;
      &.active{
        background-color: #adacac;
        cursor: default;
      }
    }
  }
}


@media (max-width: 340px){
  .slider_main{
    padding: 0 5px;
    .slide_card {
      .img_hold{
        img {
          right: 10px;
        }
      }
      .card-body{
        .card-title{
          font-size: 75%;
        }
        .card-subtitle{
          font-size: 60%;
        }
        .card-text{
          font-size: 55%;
        }
        .price_tag{
          span{
            font-size: 60%;
          }
          h3{
            font-size: 75%;
          }
        }
      }
    }
    .slider_dots{
      margin: 0;
    }
  }
}
